body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}


.container {
  display: flexbox;
  grid-template-columns: 1fr;
}

.nav-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  background-color: teal;
  justify-content: space-between;
  padding: 15px;
}

.left-side {
  display: flex;
  padding-left: 40px;
}

.right-side {
    color: white;
    padding-right: 40px;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid white;
}

.active-nav-link a {
  color: white !important;
}

.nav-link-wrapper a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
  color: white;
}

.profile-content-wrapper {
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.profile-content-wrapper h1 {
  color: teal;
}

h2 {
  color: teal;
}

.name {
  font-weight: bold;
}

/* Use flexbox to put images side by side */
.row {
  display: inline-flex;
}

/* Create 3 column layout using flexbox. Bottom two images will appear larger until 3rd image is added */
.column {
  flex: 33.33%;
  padding: 5px;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  align-items: center;
}

.content h3 {
  color: gray;
}

h3 a:hover {
  color:teal;
}

.projects {
  display: inline-flex;
  flex-wrap: wrap;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes portfolio items stack on top of each other*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.email {
  padding-bottom: 10px;
}

.email a {
  color: gray;
}

.email a:hover {
    color: teal;
}

.social a {
  font-size: 2em;
  color: gray;
  padding: 5px;
}

.social a:hover{
  color: teal;
}

footer {
    background-color: teal;
    color: white;
    text-align: center;
    height: 65px;
    padding-top: 10px;
    bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color:black;
}